$block-size-fixed: 30px;
$piece-size-fixed: 24px;
$piece-border-fixed: 2px;

$block-size-M: 4vw;
$piece-size-M: 3.5vw;
$piece-border-M: 0.5vw;

$block-size-S: 6vw;
$piece-size-S: 5vw;
$piece-border-S: 0.75vw;