@import "../../../utilities/variables.scss";

.block {
  position: absolute;
}

.black {
  position: absolute;
  background-color: black;
  border-radius: 50%;
}

.white {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
}

@media screen and (min-width: 992px) {

  .black {
    height: $piece-size-fixed;
    width: $piece-size-fixed;
    left: calc(($block-size-fixed - $piece-size-fixed) / 2);
    top: calc(($block-size-fixed - $piece-size-fixed) / 2);
  }

  .white {
    height: calc($piece-size-fixed - $piece-border-fixed * 2);
    width: calc($piece-size-fixed - $piece-border-fixed * 2);
    border: $piece-border-fixed solid black;
    left: calc(($block-size-fixed - $piece-size-fixed) / 2);
    top: calc(($block-size-fixed - $piece-size-fixed) / 2);
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {

  .black {
    height: $piece-size-M;
    width: $piece-size-M;
    left: calc(($block-size-M - $piece-size-M) / 2);
    top: calc(($block-size-M - $piece-size-M) / 2);
  }

  .white {
    height: calc($piece-size-M - $piece-border-M * 2);
    width: calc($piece-size-M - $piece-border-M * 2);
    border: $piece-border-M solid black;
    left: calc(($block-size-M - $piece-size-M) / 2);
    top: calc(($block-size-M - $piece-size-M) / 2);
  }
}

@media screen and (max-width: 600px) {

  .black {
    height: $piece-size-S;
    width: $piece-size-S;
    left: calc(($block-size-S - $piece-size-S) / 2);
    top: calc(($block-size-S - $piece-size-S) / 2);
  }

  .white {
    height: calc($piece-size-S - $piece-border-S * 2);
    width: calc($piece-size-S - $piece-border-S * 2);
    border: $piece-border-S solid black;
    left: calc(($block-size-S - $piece-size-S) / 2);
    top: calc(($block-size-S - $piece-size-S) / 2);
  }
}