@import "../../../utilities/variables.scss";

.over {
  color: red;
}

.board-container {
  display: grid;
  grid-gap: 0px;
  background-color: #f2b06f;
}

.board {
  position: absolute;
  z-index: 0;
}

.block {
  z-index: 1;
}

@media screen and (min-width: 992px) {

  .header,
  .over,
  .board-container {
    margin: 2vw;
  }

  .board-container {
    grid-template-columns: repeat(15, $block-size-fixed);
    width: $block-size-fixed * 15;
  }

  .board {
    padding: $block-size-fixed / 2;
    width: $block-size-fixed * 14;
    height: $block-size-fixed * 14;
  }

  .block {
    height: $block-size-fixed;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {

  .header,
  .over,
  .board-container {
    margin: 2vw;
  }

  .board-container {
    grid-template-columns: repeat(15, $block-size-M);
    width: $block-size-M * 15;
  }

  .board {
    padding: $block-size-M / 2;
    width: $block-size-M * 14;
    height: $block-size-M * 14;
  }

  .block {
    height: $block-size-M;
  }
}

@media screen and (max-width: 600px) {

  .header,
  .over,
  .board-container {
    margin: 5vw;
  }

  .board-container {
    grid-template-columns: repeat(15, $block-size-S);
    width: $block-size-S * 15;
  }

  .board {
    padding: $block-size-S / 2;
    width: $block-size-S * 14;
    height: $block-size-S * 14;
  }

  .block {
    height: $block-size-S;
  }
}