<div class="header">
  <h1>Gomoku</h1>
  <h3>Opponent: {{opponentName === '' ? 'waiting for opponent...' : opponentName}}</h3>
  <h3 [hidden]="this.gameOver">Current Player: {{player}} ({{playerTurn === xIsNext ? 'You' : opponentName}})</h3>
</div>

<div class="over" [hidden]="!this.gameOver">
  <p *ngIf="winner">{{winner}} won the game! Refresh the page to play again!</p>
</div>

<div class="board">
  <app-block class="block" *ngFor="let block of blocks; let i = index" [value]="block" (click)="move(i)">
  </app-block>
</div>

<button (click)="this.delete()">delete</button>