<div class="header">
  <h1>Gomoku</h1>
  <p *ngIf="this.gameID">Game ID: {{this.gameID}}</p>
  <h3>Opponent: {{opponentName === '' ? 'waiting for opponent...' : opponentName}}</h3>
  <h3 [hidden]="this.gameOver">Current Player: {{playerTurn === xIsNext ? 'You' : opponentName}} ({{player}})</h3>
</div>

<div class="board-container">
  <img class="board" src="../../../assets/board.jpeg" />
  <app-block class="block" *ngFor="let block of blocks; let i = index" [value]="block" (click)="move(i)">
  </app-block>
</div>

<div class="over" [hidden]="!this.gameOver">
  <p *ngIf="winner">{{winner === this.playerName ? 'You' : winner}} won the game! Refresh the page to play again!</p>
</div>