.board {
  display: grid;
  grid-template-columns: repeat(15, 20px);
  grid-gap: 0px;
  margin: 20px;
  width: 300px;
  background-color: #f5d283;
}

.block {
  // border: 1px black solid;
  height: 20px;
}